<$include MailHeader$>

<h3 style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;font-weight:bold;width:100%;border-bottom:1px solid black;white-space:nowrap">
	<img src="<$HttpImagesRoot$>/stellent/mailheadinglogo.gif">&nbsp;
	Acme Mail Message</h3>

<p style="font-family:Arial,Helvetica,sans-serif;font-size:9pt">
	<$acmeMessage$></p>

<p><$emailFormat$></p>

<$include MailFooter$>