/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Default style for links */
a:active { 
  /* green */
  color: #409600;
  text-decoration: none;
}
a:hover {
  /* green */
  color: #409600;
  text-decoration: none;
}
a:link {
  /* dark blue */
  color: #003399;
  text-decoration: none;
}
a:visited {
   /* light blue */
  color: #428ADE;
  text-decoration: none;
}

/* Default style */
body {
  background-color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: left;
}

/* Preformatted text */
pre {font-size: 10pt;}

/* Code */
code {
  font-family: Courier New, Courier, mono;
  font-size: 10pt;
}

/* Emphasis */
em {
  font-style: italics;
}

/* Headings */
h1 {
  color: #002163;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 12pt;
}

h2 {
  color: #002163;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  margin-top: 12pt;
  text-align: left
}

h3 {
  color: #002163;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: left
}

h4 {
  color: #002163;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: left
}

h5 {
  color: #002163;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-style: italic;
  font-weight: bold;
  text-align: left
}

h6 {
  color: #002163;
  font-family: Verdana, Arial, Helvetica, sans-se;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  text-align: left
}

/* Table colors */
.TableHeadingColor     { background: #DEEFF7; font-family:Helvetica, sans-serif;color:#000000;}
.TableSubHeadingColor  { background: #FCF9EB }
.TableRowColor         { background: #FFFFFF }

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-family: Verdana, Arial, Helvetica, sans-serif;color:#002163;font-size:8pt;}
.FrameHeadingFont { font-size:  10pt; font-family: Verdana, Arial, Helvetica, sans-serif;font-weight:bold;}
.FrameItemFont    { font-size:  100%; font-family: Verdana, Arial, Helvetica, sans-serif;}

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#000000;}
.NavBarCell1Rev { background-color:#428CDE; border: solid; border-color: #FFFFFF; border-width: 1px;}
.NavBarFont1    { background-color: #DEEFF7; padding-top: 2px; padding-bottom: 2px; padding-right: 4px; padding-left: 4px; border: solid; border-color: #636363; border-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color:#000000;}
.NavBarFont1Rev { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color:#FFFFFF;}

.NavBarCell2    { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; background-color:#FFFFFF;}

/* Horizontal rules size and color */
hr {border:0;width:100%;color:#002163;}